<div class="row demo-tiles">
  <div class="col-xs-6">
    <div class="tile gc-no-border-radius palette palette-nephritis">
      <img src="http://placehold.it/111x112" alt="Compas" class="tile-image big-illustration">
      <h3 class="tile-title">Web Oriented</h3>
      <p>100% convertable to HTML/CSS layout.</p>
      <a class="btn btn-success btn-large btn-block" href="http://designmodo.com/flat">Get Pro</a>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="tile gc-no-border-radius">
      <img src="http://placehold.it/80x120g" alt="Pensils" class="tile-image">
      <h3 class="tile-title">Color Swatches</h3>
      <p>Easy to add or change elements. </p>
      <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Get Pro</a>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="tile tile-hot gc-no-border-radius">
      <img src="img/icons/svg/ribbon.svg" alt="ribbon" class="tile-hot-ribbon">
      <img src="http://placehold.it/80x120" alt="Chat" class="tile-image">
      <h3 class="tile-title">Free for Share</h3>
      <p>Your likes, shares and comments helps us.</p>
      <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Get Pro</a>
    </div>

  </div>
</div>
