<div class="c-input-group group-content-filter">
	
	<a class="c-button" href="{{ url('crelish/user/index') }}">
		<i class="fa-sharp fa-solid fa-arrow-left"></i> {{ t('app', 'Back') }}</span>
	</a>
</div>
<div class="c-input-group group-content-filter">
  <span class="c-button btn-save" type="button"
        onclick="$('#content-form').submit();">
          <i class="fa fa-save"></i></span>
	</span>
	<span class="c-button btn-save" type="button"
	      onclick="$('#save_n_return').val(1); $('#content-form').submit();">
            <i class="fa fa-save"></i> <i class="fa fa-reply"></i></span>
	</span>
</div>
