{{ use('/giantbits/crelish/widgets') }}
<div class="c-input-group group-content-filter">
  <button class="c-button c-button--brand"><i class="fa fa-search"></i></button>
  <div class="o-field">
    <input class="c-field" name="cr_content_filter" id="cr_content_filter"
           value="{{ app.session.get('cr_content_filter') }}"
           placeholder="{{ t('crelish', 'Type your search phrase here...') }}">
  </div>
</div>

<div class="c-input-group">
  <button class="c-button c-button--error btn-delete-grid hidden">
    <i class="fa fa-check-square"></i> {{ t('crelish', 'Löschen') }}
  </button>
  <a href="/crelish/registrations/export" class="c-button c-button--warning"><i class="fa fa-file"></i> &nbsp;Export</a>
</div>
