


{{ register_asset_bundle('giantbits\\crelish\\CrelishElementsEditorAsset') }}

<div id="elements-editor" data-element-key="{{ element.key }}"></div>

<!-- Hidden input to pass initial element data to Vue -->
<input type="hidden" id="element-json-input" value="{{ element|json_encode|e }}">
