<div class="c-input-group group-content-filter">
	<nav class="content-navbar">
		{% include('@crelish/views/layouts/base_header_bar.twig') %}
		<h4>
			{{ t('crelish', 'Translations') }}
		</h4>
	</nav>
</div>
<div class="c-input-group group-content-filter">
  <span id="submitButton" class="c-button btn-save c-button--success" type="button"
    onclick="$('#content-form').submit();">
      <i class="fa fa-save"></i></span>
	</span>
</div>

<script>
  document.addEventListener('keydown', function (event) {

    if ((event.ctrlKey || event.metaKey) && event.key === 's') {
      event.preventDefault();
      document.getElementById('submitButton').click();
    }
  });
</script>
