{{ use('/giantbits/crelish/widgets') }}
<span class="gc-p--1">
  Content
</span>
<span class="dropdown c-nav__item c-nav__item--right">
  <span class="dropdown-toggle" data-toggle="dropdown">
      <span class="fui-plus"></span> Add content <span class="caret"></span>
  </span>
  <ul role="menu" class="dropdown-menu">
    {{ element_nav_widget({"action":"create"}) }}
  </ul>
</span>