{{ use('/giantbits/crelish/widgets') }}
<div class="row">
  <div class="col-md-4">
    Content
  </div>
  <div class="col-md-8">
    <div class="btn-group pull-right">
      <button data-toggle="dropdown" class="btn btn-primary  btn-sm dropdown-toggle" type="button">
        <span class="fui-plus"></span> Add content <span class="caret"></span>
      </button>
      <ul role="menu" class="dropdown-menu">
        {{ element_nav_widget() }}
      </ul>
    </div>
  </div>
</div>