{{ use('/giantbits/crelish/widgets') }}
<span class="gc-p--1">
  Content
</span>
<span class="c-nav__item c-nav__item--right gc-bc--palette-nephritis btn-save" type="button" onclick="$('#content-form').submit();">
  <span class="fui-check"></span> Save content</span>
</span>
<span class="c-nav__item c-nav__item--right gc-bc--palette-asbestos" data-toggle="modal" data-target="#confirm-cancel" data-href="{{ url('crelish/content/index.html') }}">
  <span class="fui-exit"></span> Cancel</span>
</span>
<span class="c-nav__item c-nav__item--right gc-bc--palette-pomgranate" data-toggle="modal" data-target="#confirm-delete">
  <span class="fui-trash"></span></span>
</span>
