<nav class="c-nav c-nav--inline gc-bc--palette-belize">
    <div class="o-grid o-grid--no-gutter">
        <div class="o-grid__cell">
            <span class="c-nav__item gc-bc--palette-asbestos open-back-modal" data-toggle="modal" data-target="#confirm-cancel"
                  data-href="{{ url('crelish/content/index.html?ctype=' ~ app.request.get.ctype) }}">
                <span class="fui-arrow-left"></span> {{ t('crelish', 'Back') }}</span>
            </span>
        </div>
        <div class="o-grid__cell gc-ta--center">
            <span class="c-nav__content"><h3 class="c-heading">{{ t('crelish', 'Modify content') }}</h3></span>
        </div>
        <div class="o-grid__cell">
            <span class="c-nav__item c-nav__item--right gc-bc--palette-nephritis btn-save" type="button"
                  onclick="$('#content-form').submit();">
                <span class="fui-check"></span> {{ t('crelish', 'Save') }}</span>
            </span>
            <span class="c-nav__item c-nav__item--right gc-bc--palette-pomgranate" data-toggle="modal"
                  data-target="#confirm-delete">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </span>
        </div>
    </div>
</nav>