{{ use('/giantbits/crelish/widgets') }}
<nav class="c-nav c-nav--inline gc-bc--palette-orange">
  {% include('@crelish/views/layouts/base_header_bar.twig') %}
  <span class="c-nav__content">
    {{ t('crelish', 'Export') }}
  </span>
</nav>
