@color-back-base: rgb(238, 242, 245);
@color-back-lighter: rgb(255, 255, 255);
@color-back-highlight: rgb(250, 251, 253);
@color-back-controls: rgb(251, 252, 253);
@color-text: rgb(73, 73, 80);
@color-text-lighter: lighten(@color-text, 25%);
@color-bg-dark: rgb(52, 69, 99);
@theme-color: rgb(89, 227, 214);
@theme-color-second: rgb(227, 50, 101);

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #e90f92;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.gc-full-bg {
  max-height: 100vh;
  overflow: hidden;
}

.gc-login--wrapper {
  position: absolute;
  top: 33vh;
  width: min(40rem, 90vw);
  height: 33vh;
  left: 5vw;
  background-color: rgba(0, 0, 0, 0.82);
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0px 0px 210px 0px black;
}

html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: 14px;
}

.crelish-app-root {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: @color-text;
  background: @color-back-base;

  .pagination {
    display: flex;
    border: 1px solid lightgrey;
    width: fit-content;
    border-radius: 0.333rem;
    background-color: white;
  }

  .pagination a, .pagination span, .pagination a:hover, .pagination span:hover, .pagination a:focus, .pagination span:focus {
    display: flex;
    height: 100%;
    align-content: stretch;
    justify-content: center;
    align-items: center;
  }

  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color: #fff;
    background-color: #363b51;
    border-color: #363b51;
  }

  .pagination > li {
    width: 2.333rem;
    height: 2.333rem;
    border-right: 1px solid lightgray;
  }

  .pagination > li:last-child {
    border-right: none;
  }

  .pagination > li > a,
  .pagination > li > a span {

  }


  .pagination > li > a, .pagination > li > span {
    color: #363b51;
  }

  .hidden {
    display: none !important;
  }

  .cr-root_wrap {
    display: flex;
  }

  .gutter {
    background-color: rgb(60, 60, 60);
    border-right: none; //1px solid rgb(234, 234, 234);
    box-shadow: rgba(0, 0, 0, 0.4) -2px 0px 15px;
    cursor: col-resize;
  }

  .content-navbar {
    display: flex;
    align-items: center;

    h4, .h4 {
      font-size: 18px;
      line-height: 4rem;
      padding-left: 2rem;
    }
  }

  .gc-list {
    &--inline {
      list-style: none;
      display: flex;
      padding: 0;

      li {
        height: 30px;
        width: 30px;
      }
    }
  }

  .toggle-sidenav {
    z-index: 1000;
    transition: 0.4s;
    transform: translatex(0);
    background-color: #363b51;
    display: flex;

    &.active {
      transform: translateX(0);
    }

    @media (min-width: 30rem) {
      display: none;
      transform: translatex(-60px);
    }
  }

  .menu-btn-4 {
    height: 6rem;
    width: 6rem;
    cursor: pointer;
    justify-content: center;
    padding-top: 1.5rem;
  }

  .menu-btn-4 span,
  .menu-btn-4 span::before,
  .menu-btn-4 span::after {
    background: rgb(190, 190, 190);
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    margin-top: 13px;
    transition: .4s ease-in-out;
  }

  .menu-btn-4 span::before {
    margin-top: -12px;
  }

  .menu-btn-4 span::after {
    margin-top: 12px;
  }

  .menu-btn-4.active {
    display: flex;
  }

  .menu-btn-4.active span {
    border-radius: 1px 0 0 1px;
  }

  .menu-btn-4.active span::before {
    right: 24px;
    width: 17px;
    top: 7.8px;
    border-radius: 1px 0 0 1px;
    transform: rotate(-34deg);
  }

  .menu-btn-4.active span::after {
    right: 24px;
    width: 17px;
    top: -7.8px;
    border-radius: 1px 0 0 1px;

    transform: rotate(34deg);
  }

  .menu-btn-4.active {
    transition: .4s;
  }

  #cr-left-pane {
    position: relative;
    background-color: #363b51;
    height: 100vh;
    width: 280px;

    .c-avatar {
      background-color: #7a7992;
      margin-right: 1rem;
      text-align: center;
      line-height: 3rem;
      font-weight: 800;
    }

    @media (max-width: 30rem) {
      position: absolute;
      width: 100vw !important;
      z-index: 999;
      transform: translateX(-100vw);
      transition: 0.4s;
      font-size: 16px;

      &.open {
        transform: translateX(0);
      }
    }
  }

  #cr-right-pane {
    position: relative;
    height: 100vh;
    width: 100%;
    padding-bottom: 12rem;

    @media (max-width: 30rem) {
      width: 100vw !important;
    }
  }

  #cr_content_filter {
    border-color: transparent;
    color: @color-text;
    height: 100%;
    font-size: 1.75rem;

    &:focus {
      outline: none;
      border-color: transparent;
      box-shadow: none;
    }
  }

  .logo-head {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3041;
  }

  .c-button.c-button--brand {
    border: 1px solid transparent;
    background-color: transparent;
    color: @color-text;
  }

  .c-heading {
    color: @color-text-lighter;
  }

  a {
    color: @color-text;
    text-decoration: none;

    &:hover {
      color: @color-text-lighter;
    }
  }

  .active,
  .gc-active-filter {
    a {
      // color: @theme-color;
      font-weight: bold;
    }
  }

  #cr_content_filter {
    background-color: transparent;
  }

  .navbar--main {
    padding: 0;

    .brand {
      display: block;
      margin-bottom: 2rem;
      text-transform: capitalize;
      font-weight: 800;
      letter-spacing: -0.1rem;
      line-height: 4.333rem;
      width: 4.333rem;
      height: 4.333rem;
      border: 2px solid @theme-color;
      font-size: 3rem;
      position: relative;

      a {
        color: @theme-color;
        display: block;
        position: absolute;
        bottom: -11px;
        left: 1px;

        &:hover {
          color: @theme-color;
        }
      }

      &:hover {
        border-color: @color-text;
        color: @color-text;

        a {
          color: @color-text;
        }
      }
    }

    .navbar-item {
      padding: 1rem 2rem;

      a {
        color: @color-back-base;
        display: block;

        i {
          width: 2.333rem;
        }

        &:hover {
          color: white;
        }
      }

      &:hover {
        background-color: #2c3041;
        cursor: pointer;
      }

      &.active {
        background-color: #2c3041;
        border-left: 6px solid @theme-color;

        a {
          font-weight: normal;
          color: @theme-color;
          margin-left: -6px;
        }
      }
    }
  }

  .navbar--controller {
    height: auto;
    min-height: 6rem;
    background-color: #ffffff;
    box-shadow: 0px 2px 26px -12px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;

    .group-content-filter {
      height: 6rem;
      display: flex;

      &:first-of-type {
        flex-grow: 1;
      }

      a, span {
        //height: 6rem;
      }
    }

    > *:not(:last-child) {
      margin-right: 1rem;
    }

    .c-button {
      padding: 1rem;
      border-radius: 0;
      min-width: 6rem;
      height: 6rem;
      line-height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;

      &--success {
        background-color: #309a2e;
      }

      &--success-darker {
        background-color: #247122;

        &:hover {
          background-color: #287d26 !important;
        }
      }
    }
  }

  .avatar-nav {
    display: flex;
    color: white;
    padding: 1rem 2rem;

    .c-avatar {
      margin-right: 1rem;
    }

    .user-info {
      h6 {
        margin-bottom: 0;
        font-size: 1.3rem;
      }

      a {
        color: #7a8797;
        font-size: 1rem;

        &:hover {
          color: #b7c5d8;
        }
      }
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #fbfcfd;
      min-width: 270px;
      box-shadow: 0px 4px 26px -8px rgba(0, 0, 0, 0.78);
      padding: 12px 0;
      z-index: 1;
      color: #494950;
      border: 1px solid @theme-color;
      white-space: nowrap;
      border-radius: 0.6rem;

      &.right {
        right: 0;
      }

      li {
        padding: 0;
      }

      a {
        color: @color-text;
        display: block;
        padding: 1rem 2rem;

        &:hover {
          background-color: #e8e8e8;
        }
      }

      h6 {
        margin: 1rem 0 0 0;
        font-size: 14px;
        font-weight: bold;
        border-bottom: 1px solid #444;
        display: block;
        padding: 4px 14px;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 14px;
        text-align: left;

        li:first-child {
          h6 {
            margin: 0;
          }
        }
      }
    }

    &:hover .dropdown-content {
      display: block;
    }
  }

  .content-filter {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-weight: 600;

    li {
      margin-bottom: .6rem;
      white-space: nowrap;

      a {
        display: block;
        padding: 1rem;
      }

      &.gc-active-filter {
        border-bottom: 1px solid @theme-color-second;
      }
    }

    h6 {
      margin: 2rem 0 0 0;
    }

    li:first-child {
      h6 {
        margin: 0;
      }
    }

    li:hover {
      a {
        color: @color-text-lighter;
      }
    }
  }

  .filter-top {
    background-color: #cad2d8;
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;

    .content-filter {
      li {
        margin-bottom: 0;
      }
    }

    @media (max-width: 30rem) {
      font-size: 16px;

      ul > li {
        padding: 1rem 2rem;
      }
    }
  }

  .table-striped {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 .75em;

    tr {
      cursor: pointer;
      border-bottom: 2rem solid transparent;

      td {
        vertical-align: middle;

        &:first-of-type {
          border-top-left-radius: .5rem;
          border-bottom-left-radius: .5rem;
        }

        &:last-of-type {
          border-top-right-radius: .5rem;
          border-bottom-right-radius: .5rem;
        }

        input[type="checkbox"] {
          background: @color-text;
        }
      }
    }
  }

  .table > :not(caption) > * > * {
    background-color: transparent;
    border-bottom-width: 0;
  }

  .grid-view {
    .table-striped {
      tr {
        display: flex;
        flex-wrap: wrap;

        td, th {
          width: 100%;
        }

        @media (min-width: 30rem) {
          display: table-row;
          td, th {
            width: inherit;
          }
        }
      }
    }
  }

  .c-card {
    border-radius: 0.6rem;

    .c-card__item {
      background-color: @color-back-highlight;

      &.c-card__item--brand {
        background-color: @color-bg-dark !important;
        font-weight: bold;
        text-align: center;
      }
    }
  }

  .c-badge {
    border-radius: 0;
    border: none;
    background-color: rgb(97, 118, 166);
  }

  .c-button {
    color: @color-back-highlight;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }

  .gc-full-bg {
    position: absolute;
    z-index: 0;

  }

  .content-dropper-subnav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;

    li {
      width: 50%;

      a {
        color: #494950;
        text-decoration: none;
        display: flex;
        justify-content: center;
        height: 6rem;
        border-top: 1px solid #eeeeee;
        align-items: center;
        margin-bottom: -1px;
        margin-left: -1px;
        border-right: 1px solid #eeeeee;

        span {
          display: inline-block;
          position: relative;
          transition: 0.5s;

          &:after {
            content: '»';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
          }
        }

        &:hover span {
          padding-right: 25px;

          &:after {
            opacity: 1;
            right: 0;
          }
        }
      }

      &:nth-child(-n + 2) {
        a {
          border-top: 0;
        }
      }

      &:nth-child(even) {
        a {
          border-right: 0;
        }
      }
    }
  }

  /*checkboxing*/

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox] + span:before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-size: 1.75rem;
    margin-top: 50%;
  }

  input[type=checkbox] + span:before {
    content: "\f0c8";
  }

  input[type=checkbox]:checked + span:before {
    content: "\f14a";
  }

  // Modals
  .cr-modal--full {
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
  }

  // Assets
  .assets--dropzone {
    background-color: #cad2d8;

    .c-button {
      display: block !important;
      margin: 0 auto !important;
      border: none !important;
      color: #0f0f0f !important;
      background: transparent !important;
    }
  }

  table a {
    &.desc:after {
      display: inline-block;
      transform: translate(10px, 2px);
      content: "\f0d7";
      font-family: 'Font Awesome 5 Free';
    }

    &.asc:after {
      display: inline-block;
      transform: translate(10px, 2px);
      content: "\f0d8";
      font-family: 'Font Awesome 5 Free';
    }
  }

  .pull-right {
    float: right;
  }

  .modal-content {
    width: 100vw;
  }

  .modal-header {
    .close {
      float: right;
      margin-inline: auto 0;
    }
  }
}
