<h4 style=" line-height: 4rem; flex-grow: 1; padding-inline: 2rem;">
  {{ t('app', 'Newsletter Editor') }}
</h4>
<div class="c-input-group group-content-filter" style="flex-grow: unset;">
  <a class="c-button" href="{{ url('crelish/newsletter/index') }}">
    <i class="fa-sharp fa-solid fa-arrow-left"></i> {{ t('app', 'Back') }}</span>
  </a>
</div>

