{% set preview = '' %}
{% if model.mime == 'image/jpg' or model.mime == 'image/jpeg' or model.mime == 'image/gif' or model.mime == 'image/png' %}
	{% set preview = '<img src="/crelish/asset/glide?path=/' ~ model.src ~ '&w=340&f=fit" onerror="this.style.display=\'none\';" />' %}
{% elseif model.mime == 'image/svg+xml' %}
	{% set preview = '<img src="' ~ model.pathName ~ model.fileName ~ '" onerror="this.style.display=\'none\';" />' %}
{% elseif model.mime == 'application/pdf' %}
	{% set preview = '<img src="/crelish/asset/glide?path=thumbs/' ~ model.thumbnail ~ '&p=small" onerror="this.style.display=\'none\';" />' %}
{% endif %}


	<a href="{{ url('asset/update', {uuid: model.uuid}) }}">
		{{ preview|raw }}
		<div class="description">
			<h3>{{ model.systitle }}</h3>
			{{ model.description | raw }}
		</div>
	</a>
