<div class="o-grid__cell o-grid__cell--width-20">
	<div class="c-card c-card--high gc-m--lbr-1 gc-bc--palette-white">
		<div class="c-card__content c-heading dz-filename gc-bc--palette-silver">
			{{ model.systitle }}
		</div>
	  	<div class="c-card__content">
	    	<div class="image gc-o--hidden">
				<img src="{{ model.src }}" class="" height="140">
			</div>
			<div class="description gc-box--h-60 gc-to--ellipsis">
				{{ model.description | raw }}
			</div>
	  	</div>
	</div>
</div>
