<div class="o-grid o-grid--no-gutter">
  <div class="o-grid__cell">

  </div>
  <div class="o-grid__cell gc-ta--center"><span class="c-nav__content"><h3 class="c-heading">Assets</h3></span></div>
  <div class="o-grid__cell">

  </div>
</div>
