<div class="o-grid o-grid--no-gutter">
  <div class="o-grid__cell">
    <button data-toggle="modal" onclick="window.location = '{{ url('crelish/asset/index') }}';" class="btn btn-inverse btn-sm" type="button">
      <span class="fui-exit"></span> Back</span>
    </button>
  </div>
  <div class="o-grid__cell gc-ta--center"><span class="c-nav__content"><h3 class="c-heading">Assets</h3></span></div>
  <div class="o-grid__cell">
    <button class="btn btn-primary btn-sm btn-save" type="button" onclick="$('#asset-form').submit();">
      <span class="fui-check"></span> Save asset</span>
    </button>
    <button class="btn btn-danger btn-sm" onclick="window.location = '{{ url('asset/delete', { uuid: app.getRequest.getQueryParam('uuid') }) }}';">
      <span class="fui-trash"></span></span>
    </button>
  </div>
</div>
